<nav class="navbar navbar-expand-lg position-fixed top-0 end-0 start-0 navbar-light bg-white py-3">
    <div class="container-fluid">
      <a class="navbar-brand mx-3" href="#">
          <img class="w-100" src="../../assets/images/HomePage/download (1).svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle" href="#" id="creationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Creation
                </a>
                <ul class="dropdown-menu" aria-labelledby="creationDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle" href="#" id="creationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Business
                </a>
                <ul class="dropdown-menu" aria-labelledby="creationDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle" href="#" id="creationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Growth
                </a>
                <ul class="dropdown-menu" aria-labelledby="creationDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle" href="#" id="creationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Resources
                </a>
                <ul class="dropdown-menu" aria-labelledby="creationDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            <li><div class="line me-3"></div></li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>

        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <li class="nav-item me-3">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-globe"></i>
                </a>
              </li>
            <li class="nav-item border border-1 border-primary rounded-pill px-4 text-center">
                <a class="nav-link" href="#">Sign In</a>
              </li>
        </ul>

      </div>
    </div>
  </nav>