<section class="sectionOne  pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-5">
                <h1 class="pt-5 mt-5 fw-bold">Your Complete Website Design Solution</h1>
                <p class="my-3">With Wix’s intuitive technology and powerful built-in features you’ll have the creative freedom to design a website you’re proud of.</p>
                <button class="btn btn-dark my-3 py-3 px-5 rounded-pill">Get Started</button>
            </div>
            <div class="col-md-6 ">
                <img class="img-fluid" src="../../assets/images/HomePage/311dce_09dd46729e0e4ef1a1459e6ea6ed0476_mv2.webp" alt="">
            </div>
        </div>
    </div>

</section>

<section class="sectionTwo pt-5">
    <h2 class="h1 w-50 mx-auto text-center fw-bold py-5">
        Discover the Best Ways to Design Your Website
    </h2>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4 p-5 border-end border-2 border-top position-relative ">
                <h5>Wix Editor | Design It Your Way</h5>
                <p class="pe-5">Get complete design freedom with the Editor. Drag and drop technology lets you move things around your site however you’d like. Every design element is customizable. Resize, recolor, rotate and align elements to make it look just right. Then choose from 1000s of intuitive tools and built-in features to create a professional web presence.</p>
                <a class="text-white position-absolute bottom-0 mb-4 fw-bold" href="#">Get Started <i class="ms-2 fa fa-arrow-right"></i></a>
            </div>
            <div class="col-md-4 p-5 border-end border-2 border-top position-relative">
                <h5>Wix ADI | Made for You Instantly</h5>
                <p class="pe-5">Create a beautifully designed website in no time with Wix ADI (Artificial Design Intelligence). Just answer a few questions and you’ll get a fully designed site with content and images built-in. Make it your own by choosing a design theme and a custom color palette that fits the look you’re going for. You can always upload your own images and content to match your brand. </p>
                <a class="text-white position-absolute bottom-0 mb-4 fw-bold" href="#">Get Started <i class="ms-2 fa fa-arrow-right"></i></a>
            </div>
            <div class="col-md-4 p-5 border-end border-2 border-top  position-relative">
                <h5>Wix Marketplace | Hire a Professional</h5>
                <p class="pe-5">Hire a Wix Partner to create a new website for you, redesign one you already have or get help with a specific project. From marketing experts who can promote your website to graphic designers who can develop your brands’ look—we’ve got the right Partner for you. Browse our library of Partners or answer a few questions here and we’ll match you with the right person.</p>
                <a class="text-white position-absolute bottom-0 mb-4 fw-bold" href="#">Hire a Partner <i class="ms-2 fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    

</section>
<section class="sectionThree py-5">

    <div class="container">
        <div class="row ">
            <div class=" col-12 text-center py-5">
                <h2 class="h1 fw-bold ">
                    Set Yourself Up for Success
                </h2>
                <p>Wix empowers you to bring your ideas to life. With our all-inclusive web builder you can design, manage and grow your online presence—all from one powerful platform.</p>
        
            </div>
            <div class="col-md-4 border border-dark border-2 text-center">
                <p class="px-4 py-3 mb-0">Professional Features</p>
            </div>
            <div class="col-md-4 border border-dark border-2 text-center">
                <p class="px-4 py-3 mb-0">Design Elements</p>
            </div>
            <div class="col-md-4 border border-dark border-2 text-center">
                <p class="px-4 py-3 mb-0">Advanced Functionality</p>
            </div>
            <div class="col-md-4 border border-dark border-2 text-center">
                <p class="px-4 py-3 mb-0">Built-In Tools</p>
            </div>
            <div class="col-md-4 border border-dark border-2 text-center">
                <p class="px-4 py-3 mb-0">Marketing and SEO</p>
            </div>
            <div class="col-md-4 border border-dark border-2 text-center">
                <p class="px-4 py-3 mb-0">Mobile Experience</p>
            </div>
            <div class="col-12 py-5">
                <img class="img-fluid" src="../../assets/images/HomePage/1_2_webp.webp" alt="">
            </div>
        </div>

    </div>


</section>