.sectionOne{
    background-image: url(../../assets/images/HomePage/311dce_e76784d9977842c589074d75858f847a_mv2.webp);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}